body {
        color: black;
        font-family: sans-serif;
        line-height: 1.6em;
}


.container {
    width:80%;
    margin: auto;
    width: 60%;
    text-align: center;
    }

.box-1 {
    background-color: darkgrey;
    color: rgb(4, 4, 122);    
    border-top: 3px solid rgb(4, 4, 122);
    border-right: 3px solid rgb(4, 4, 122);
    border-bottom: 3px solid rgb(4, 4, 122);
    border-left: 3px solid rgb(4, 4, 122);
    font-weight: 800;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    margin-bottom: 2em;
}

.border{
    border: cadetblue;
    border-style: dotted;
    padding: 10px;
}

.box-2 {
    background-color: cornsilk;
}

nav{
    margin-bottom: 20px;
    
}

li{
   margin-right: 60px;
}

.horizontal{
    display: inline;
}

p3 {
    color: rgb(4, 4, 122);
    font-size: 24px;
    font-weight: bold;
}
article{
    margin-bottom: 2em;
}

footer {
    color: rgb(4, 4, 122);
    font-size: 0.8em;
    font-weight: bold;

}


